/* Variables */
/* General */
body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  color: #777777;
  text-align: center;
}

section {
  padding: 120px 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 0;
}

h2 {
  font-family: "Droid Serif";
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

h3 {
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.container {
  max-width: 941px;
}

/* Header */
header {
  background-image: url("../images/Background_Image.png");
  background-position: center center;
  background-size: cover;
  color: #ffffff;
}

header .container {
  min-height: 729px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

header nav.row {
  padding-top: 73px;
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

header nav.row > div {
  padding: 0 15px;
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
}

header nav.row i.fas {
  display: none;
  font-size: 24px;
  line-height: 41px;
  margin-left: 12px;
}

header nav.row div:first-child {
  text-align: left;
}

header nav.row .brand {
  color: #fed136;
  font-family: "Wisdom Script Regular";
  font-size: 26px;
  text-decoration: none;
  line-height: 41px;
}

header nav.row .menu {
  text-align: right;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
}

header nav.row ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav.row li {
  display: inline-block;
  margin: 0 0 0 40px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  line-height: 41px;
}

header nav.row li:hover {
  color: #fed136;
  cursor: pointer;
}

header div.row {
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-bottom: 20px;
}

header .welcome-mes {
  text-align: center;
}

header h1, header h2 {
  color: #ffffff;
}

header h2 {
  font-size: 40px;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

header h1 {
  font-size: 75px;
  letter-spacing: -1.88px;
}

header .btn {
  display: inline-block;
  width: 240px;
  height: 65px;
  background-color: #fed136;
  text-align: center;
  line-height: 65px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  border-radius: 4px;
  margin-top: 60px;
}

header .btn:hover {
  background-color: #f8c611;
}

/* Services */
.services h2 {
  margin-bottom: 60px;
}

.services p {
  letter-spacing: -0.35px;
}

.services .picture {
  border: 3px solid #fed136;
  height: 68px;
  width: 68px;
  border-radius: 50%;
  display: inline-block;
  line-height: 68px;
}

.services .picture img {
  line-height: 68px;
  padding: 10px;
}

/* Portfolio */
.portfolio {
  background-color: #f7f7f7;
}

.portfolio h2 {
  margin-bottom: 76px;
}

.portfolio h3 {
  letter-spacing: -0.45px;
  padding: 29px 0 0 0;
  margin: 0;
}

.portfolio p {
  margin: 0;
  padding: 0 0 27px 0;
}

.portfolio figure {
  margin: 25px 0;
  background-color: #ffffff;
}

.portfolio img {
  width: 100%;
}

/* Footer */
footer .container {
  height: 121px;
}

footer .row {
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer .row > div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

footer .row > div:nth-child(2) {
  -ms-flex-pack: center;
      justify-content: center;
}

footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: -0.35px;
  color: #555555;
}

footer ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer li {
  display: inline-block;
  margin: 4px;
  font-size: 0;
}

footer i {
  font-size: 18px;
  background-color: #222222;
  border-radius: 50%;
  color: #ffffff;
  text-decoration: none;
  width: 41px;
  height: 40px;
}

footer i:hover {
  background-color: black;
}

footer i::before {
  line-height: 40px;
}

/* Media */
@media (max-width: 767px) {
  section {
    padding: 60px 0;
  }
  h1 {
    font-size: 32px;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 32px;
  }
  header nav.row .menu {
    width: auto;
  }
  header nav.row ul {
    display: none;
  }
  header nav.row i.fas {
    display: inline-block;
  }
  .menu:hover ul {
    display: inline-block;
    margin-bottom: -150px;
    text-align: right;
  }
  .menu:hover ul li {
    line-height: 30px;
    display: block;
    background-color: #22222252;
    padding: 0 10px;
  }
  .menu:hover i.fas {
    color: #fed136;
  }
  .portfolio h2 {
    margin-bottom: 30px;
  }
}

@media (max-width: 340px) {
  header h1 {
    font-size: 32px;
  }
  header h2 {
    font-size: 28px;
  }
}
/*# sourceMappingURL=style.css.map */